.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img{
  width: 100%;
  max-width: 150px;
  margin: -2em 0;
}

p{
  text-align: center;
  font-size: 1em;
  font-weight: 600;
  margin: 1.2em 0;
}
