<!--<app-credits></app-credits>-->
<div class="container">

  @if (quantita == 0 && contentLoaded) {
    <h2>Mi dispiace è finito tutto.</h2>
    <div class="cozzo-container">
      <img src="assets/cozzogay.apng" class="cozzo">
      <h3> <mat-icon>arrow_back</mat-icon> sta facendo del suo meglio</h3>
    </div>
  } @else {
    <div class="ready">
      <h1 class="glowing-text-secondary">CordonBleu</h1>
      <h3>ANDREWGATTAX | VITTODEV</h3>
      <div class="quantita glowing-text-secondary">
        <img src="assets/logo.png" alt="logo" class="logo">
        <h2>x<span>{{contentLoaded ? quantita : "XX"}}</span></h2>
      </div>
      <div class="button">
        <a routerLink="/ordina">
          <app-primary-button text="Ordina ora"></app-primary-button>
        </a>
      </div>
    </div>
  }
</div>

<app-navbar [available]="quantita != 0 && contentLoaded" class="bottom-nav"/>
