@use "../../../styles/theme";

button{
  padding: 15px;
  background: theme.$horizontal-gradient;
  border-radius: 100px;
  width: 100%;
  color: white;
  font-weight: 700;
  font-size: theme.$font-size-medium;
  border: none;
  transition: all ease-in-out .3s;
}

.disabled{
  background: rgba(228,183,132,0.54);
}
