@use "../../../styles/theme";

button{
  padding: 15px;
  background: theme.$horizontal-gradient;
  border-radius: 100px;
  width: 100%;
  color: white;
  font-weight: 700;
  font-size: theme.$font-size-medium;
  border: none;
}
