@use "../../../styles/theme";

.container{
  padding: 10px 5px;
  margin: 0px 0px;
  display: flex;
  gap: 5px;
  align-items: center;
  //box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  //border-radius: 3px;
  border: none;
  border-bottom: 1px solid theme.$grey;
  transition: all 0.3s ease-in-out;
}

mat-icon{
  margin: 0px;
  color: theme.$grey;
  overflow: visible;
}

.focused mat-icon {
  color: black;
}

input{
  background-color: transparent;
  border: transparent solid thin;
  height: 100%;
  width: 100%;
  font-weight: 900;
  color: black;
}

input::placeholder{
  font-weight: 800;
  //color: theme.$grey;
  color: transparent;
}

input:focus {
  outline: none;
}

.focused.container{
  border-bottom: 3px solid theme.$primary;

}

.invalid.container{
  border-bottom: 3px solid theme.$danger;

}

.invalid mat-icon {
  color: theme.$danger;

}
