@use "../../../styles/theme";

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main {
  margin-bottom: 100px;
  width: 80%;
}

h3{
  margin-block-end: 20px;
}

.button{
  margin: 25px 0px;
  display: flex;
  width: 100%;
  justify-content: end;
}

