@use "../../styles/theme";

.container {
  padding: 50px 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 100vh;
}

.orders-container{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  max-height: 70vh;
  overflow-y: scroll;
  box-sizing: border-box;
  overflow-x: hidden;
}

.order{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px 15px;
  margin: 5px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.info{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.main{
  font-size: 20px;
  font-weight: bold;
}

.data {
  font-size: 13px;
  color: theme.$grey;
}

.status{
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  gap: 0px;
}

.status img{
  width: 40px;
  height: auto;
  margin: -10px 0
}

.status p{
  font-weight: bold;
  font-size: 18px;
}

.quantita{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
}

.stato span{
  font-weight: 800;
  font-size: 12px;
}

.nonpagato{
  color: #f64e4e;
}

.pagato{
  color: theme.$primary
}

.consegnato{
  color: #9ada28;
}

.empty{
  justify-self: center;
  align-self: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  gap: 20px;
}

.empty h1{
  text-align: center;
  font-size: 25px;
}


